@{
    ViewData["Title"] = "Home Page";
}

    <div class="indexBody"> 
        <div class="text-left">
            <div class="wrap" style="font-family: 'Bree Serif', serif;">
                <h1 class="display-4">Welcome To Musify</h1>
                <h2>Music is Everything</h2>
            </div>
        </div>
    </div>